:root{
    --branco: #ffffff;
    --preto: #000000;
    --azul-escuro: #010a1b;
    --roxo: #5f1bff;

    --cinza: #6c757d;
    --cinza-escuro: #343a40;
    --cinza-claro: #d4d4d4;
    
    --gelo: #cbdcff;
    --azul-claro: #4f89ff;

}